In [1]:
import requests
import pandas as pd
import json
from tqdm import tqdm

In [ ]:
def get_req_url(year, month):
    request_url = "https://apidatos.ree.es/es/datos/demanda/demanda-tiempo-real?start_date={}-{}-02T00:00&end_date={}-{}-01T23:59&time_trunc=hour".format(year, month, year if month<12 else year+1, month+1 if month<12 else 1)
    return request_url

In [ ]:
data = pd.DataFrame(columns=['value', 'percentage', 'datetime'])

for y, m  in tqdm([(y,m) for y in range(2014,2020) for m in range(1,13)]) :
    
    url = get_req_url(y,m)
    response = requests.get(url)
    data = data.append(response.json()['included'][0]['attributes']['values'])

    if y==2019 and m==10:
        break
data

In [ ]:
data.to_csv('../data/hourly_20140102_20191101.csv', index=False)

In [2]:
data = pd.read_csv('../data/hourly_20140102_20191101.csv')
data

        value  percentage                       datetime
0       24256    0.340316  2014-01-02T00:00:00.000+01:00
1       24260    0.343019  2014-01-02T00:10:00.000+01:00
2       23689    0.340178  2014-01-02T00:20:00.000+01:00
3       23349    0.339301  2014-01-02T00:30:00.000+01:00
4       22896    0.337122  2014-01-02T00:40:00.000+01:00
...       ...         ...                            ...
306715  24440    0.336593  2019-11-01T23:10:00.000+01:00
306716  24073    0.334394  2019-11-01T23:20:00.000+01:00
306717  23734    0.332358  2019-11-01T23:30:00.000+01:00
306718  23356    0.329864  2019-11-01T23:40:00.000+01:00
306719  23475    0.331995  2019-11-01T23:50:00.000+01:00

[306720 rows x 3 columns]

In [10]:
data_train = data.iloc[0:int(data.shape[0]*0.8)]
data_test = data.iloc[int(data.shape[0]*0.8):-1]

In [15]:
data_train.to_csv('../data/hourly_20140102_20191101_train.csv', index=False)
data_test.to_csv('../data/hourly_20140102_20191101_test.csv', index=False)

In [12]:
data_test

        value  percentage                       datetime
245376  25392    0.336666  2018-09-02T01:00:00.000+02:00
245377  25302    0.336830  2018-09-02T01:10:00.000+02:00
245378  25122    0.336193  2018-09-02T01:20:00.000+02:00
245379  24627    0.332721  2018-09-02T01:30:00.000+02:00
245380  24488    0.332419  2018-09-02T01:40:00.000+02:00
...       ...         ...                            ...
306714  24628    0.337074  2019-11-01T23:00:00.000+01:00
306715  24440    0.336593  2019-11-01T23:10:00.000+01:00
306716  24073    0.334394  2019-11-01T23:20:00.000+01:00
306717  23734    0.332358  2019-11-01T23:30:00.000+01:00
306718  23356    0.329864  2019-11-01T23:40:00.000+01:00

[61343 rows x 3 columns]